
.disabled_img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.searched_string{
    padding: 0 20px;
    font-size: 32px;
}
.hero-highlight{
    filter: brightness(125%);
    box-shadow: 0 0 12px 3px #05aefc;
}