/**/
body {
    background-color: #2b3b42;
    margin: 0;
}
/**/
.mainScreen {
    display: grid;
}

#btnBack{
    background-color: rgb(239, 239, 239);
    color: black;
    border: none;
    padding: 0;
    margin: 1vw;
    cursor: pointer;
    width: 16vw;
    height: 4vw;
    max-width: 100px;
    font-size: min(3vw, 16pt);
}

.hidden {
    display: none;
}


.not_rotate_style{
    border: 0.5vw solid rebeccapurple;
    width: fit-content;
    float: left;
    display: flex;
    margin: 0.5vw;
}
.not_rotate_style img{
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style1 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid red;
}
.rotate_style1 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style2 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid deepskyblue;
}
.rotate_style2 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style3 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid lime;
}
.rotate_style3 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style4 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid rgb(11, 32, 137);
}c
.rotate_style4 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style5 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid yellow;
}
.rotate_style5 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style6 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid magenta;
}
.rotate_style6 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}

.rotate_style7 {
    position: relative;
    display: flex;
    overflow: hidden;
    float: left;
    margin: 0.5vw;
    border: 0.5vw solid white;
}
.rotate_style7 img {
    position: relative;
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
}
/**/
.next_hero {
    display: inline-block;
    }

/**/
.next_hero1 {
    float: left;
    margin: 0.5vw;
} 
.next_hero1 img{
    border: 0.5vw solid rgb(222, 203, 29);
    min-width: 64px;
    max-width: 128px;
    width: calc(100vw / 7 - 1vw - 1px);
    padding: 0;
}

/**/
#btnCalc {
    background-color: rgb(66, 204, 121);
    color: white;
    border: none;
    padding: 0;
    margin: 1vw;
    cursor: pointer;
    width: 16vw;
    max-width: 160px;
    font-size: min(3vw, 16pt);
}
/* Стили для отключенной кнопки */
#btnCalc[disabled] {
    background-color: rgb(208, 107, 107);
    color: lightgray; /* Цвет текста для отключенной кнопки */
    cursor: not-allowed; /* Указываем, что кнопка неактивна */
}
/**/
.imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    margin: 2vw;
}
/**/
.container-number0 {
    width: auto;
    border: 0.5vw solid rgb(213, 54, 54);
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.container-number1 {
    width: auto;
    border: 0.5vw solid rgb(32, 185, 52);
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.container-number2 {
    width: auto;
    border: 0.5vw solid rgb(25, 99, 184);
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.container-number3 {
    width: auto;
    border:0.5vw solid rgb(146, 26, 206);
    display: block;
    width: 100%;
    box-sizing: border-box;
} 
/**/
.image-div {
    border: 0.5vw solid transparent;
    float: left;
    width: fit-content;
    box-sizing: border-box;
    margin: 1vw;
    display: flex;
}
/**/
.image-div img {
    border: 0;
}
/**/
.selected {
    border-width: 0.5vw;
    border-style: solid;
    border-color: green;
    border-image: initial;
}
.preview {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    border: 1px dashed #aaa;
    padding: 5px;
    overflow: hidden;
}
.preview-image {
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
}
/**/
.blank-image-div {
    width: 16vw;
    max-width: 200px;
    text-align: center;
    margin: 1vw 0;
    display: inherit;
}
/**/
.blank-image-div img {
    max-width: 128px;
    width: 16vw;
    border: 0;
    padding: 0;
}
/**/
.selectedHeroesClass {
    width: auto;
    max-width: 1000px;
    height: auto;
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
    grid-auto-flow: column;
    gap: 2vw;
}

/* Для экранов шириной до 300px */
@media (max-width: 300px) {
    .image-div img {
        width: 100%;
    }
}

@media (min-width: 301px) and (max-width: 600px) {
    .image-div img {
        width: calc((100vw - 4vw) / 4 - 2vw - 2vw / 4 - 3px);
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .image-div img {
        width: calc((100vw - 4vw) / 6 - 2vw - 2vw / 6 - 3px);
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .image-div img {
        width: calc((100vw - 4vw) / 8 - 2vw - 2vw / 8 - 3px);
    }
}
@media (min-width: 1201px) and (max-width: 1500px) {
    .image-div img {
        width: calc((100vw - 4vw) / 10 - 2vw - 2vw / 10 - 3px);
    }
}

@media (min-width: 1501px) and (max-width: 1800px) {
    .image-div img {
        width: calc((100vw - 4vw) / 12 - 2vw - 2vw / 12 - 3px);
    }
}

@media (min-width: 1801px) and (max-width: 2100px) {
    .image-div img {
        width: calc((100vw - 4vw) / 14 - 2vw - 2vw / 14 - 3px);
    }
}

@media (min-width: 2101px) and (max-width: 2400px) {
    .image-div img {
        width: calc((100vw - 4vw) / 16 - 2vw - 2vw / 16 - 3px);
    }
}
@media (min-width: 2401px) {
    .image-div img {
        width: calc((100vw - 4vw) / 18 - 2vw - 2vw / 18 - 3px);
    }
}